@CHARSET "ISO-8859-1";
#rules {
      position: relative;
      width: 500px;
      margin: 60 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      text-align: justify;
    }

#refresh-btn {
  box-shadow: 5px 5px 10px #888;
  position:relative;
  background-color: #B695C0; /* Color de fondo */
  border-radius: 40px;
  border: 2px solid #ccc;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  color: black; /* Color del texto */
  font-size: 20px; /* Tamaño de fuente */
  height:100px;
  width: 100px;
  left: 5%;
  margin: 10px; /* Margen exterior */
  text-align: center; /* Alineación del texto */
}

#refresh-btn:hover {
  background-color: #7cdaf9; /* Cambiar el color de fondo al pasar por encima */

}
