
#body{
 width: 550px;
 height: 550px;
 position:sticky;
 border-radius: 25px;
 background-color: black;
 box-shadow: 5px 5px 10px #888;
}
button{
 width: 150px;
 height: 150px;
 position: absolute;
 font-size: 100px;
 color:white;
}
.clicked{
 background-color: gray;
}
.buttons{
 background-color: teal;
}
.buttons:HOVER {
 background-color: greenyellow;
}
#b11{
 top:25px;
 left:25px;
 border-top-left-radius: 15px;
}
#b12{
 top:25px;
 left:200px;
}
#b13{
 top:25px;
 left:375px;
 border-top-right-radius: 15px;
}
#b21{
 top:200px;
 left:25px;
}
#b22{
 top:200px;
 left:200px;
}
#b23{
 top:200px;
 left:375px;
}
#b31{
 top:375px;
 left:25px;
 border-bottom-left-radius: 15px;
}
#b32{
 top:375px;
 left:200px;
}
#b33{
 top:375px;
 left:375px;
 border-bottom-right-radius: 15px;
}

